/* ---------------------------- Forms ---------------------------- */

#newrating {
  margin-top: 15px;
}

.form-group .control-label {
  text-align: left;
}

.fa-green {
  color: #5cb85c;
  margin-right: 3px;
}

.form-validation-error {
  color: red;
}


/* --- rating text progress bar ---*/

.progress-info {
  margin-bottom: 5px;

  .desc {
    font-size: 7px;
  }

  .percent {
    padding-left: 10px;
    margin-top: 1px;
    display: inline-block;
    font-weight: 600;
    float: right;
    font-size: 12px;
  }
}

.progress {
  @include box-shadow();
}

.progress-striped {
  @include border-radius();
  height: 10px;
}

.progress-bar {
  @include box-shadow();
}

.progress-bar-green {
  background-color: #a2d200;
}