<script>
    require(
            [
                /* Stylesheets */
                'css!bootstrapcss',
                'css!fontawesomecss',

                /* Scripts */
                'jquery',
                'bootstrap',
                'vanilla',

                /* Custom Stylesheet */
                'css!defaultcss'
            ], function(bootstrapCss, fontawesomeCss, jquery, bootstrap, vanillaJs) {

                var baseUrl = '{{{baseUrl}}}';
                var homeButton = vanilla.byId('gotoHome');
                var feedbackButton = vanilla.byId('gotoFeedback');

                $(document).ready(function() {

                    vanilla.onClick(homeButton, function(el) {
                        el.preventDefault();

                        document.location.href = baseUrl + '/';

                        return false;
                    });

                    vanilla.onClick(feedbackButton, function(el) {
                        el.preventDefault();

                        $.smoothScroll({
                            scrollTarget: '#footer',
                            afterScroll: function() {
                                expose.expose(document.getElementsByClassName('expose'));
                            }
                        });

                        return false;
                    });
                });
            }
    );
</script>


{{> navbar }}

<div id="content">
    <div class="container">

        <div class="row">
            <div style="padding: 50px 0">
                <div class="col-md-5 col-centered text-center margin-bottom-20">
                    <div>
                        <h1><strong>404: Seite nicht gefunden</strong></h1>
                        Die aufgerufene Seite existiert nicht. Schreibe uns ein Feedback damit wir diesen Fehler in Zukunft vermeiden können.
                    </div>
                </div>

                <div class="col-xs-6 col-md-3 col-lg-2 col-centered">
                        <button class="btn btn-default btn-justified" id="gotoHome">Zur Startseite</button>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-2 col-centered">
                    <button class="btn btn-default btn-justified margin-top-15" id="gotoFeedback">Feedback schreiben</button>
                </div>


            </div>
        </div>

    </div>
</div>

