<script>
    require(
            [
                /* Stylesheets */
                'css!bootstrapcss',
                'css!fontawesomecss',

                /* Scripts */
                'jquery',
                'bootstrap',
                'vanilla',

                /* Custom Stylesheet */
                'css!defaultcss'
            ], function(bootstrapCss, fontawesomeCss, jquery, bootstrap, vanillaJs) {

                var baseUrl = '{{{baseUrl}}}';
                var homeButton = vanilla.byId('gotoHome');
                var newsletterButton = vanilla.byId('openNewsletterModal');
                var newsletterForm = vanilla.byId('modal-footer-newsletter');

                $(document).ready(function() {

                    vanilla.onClick(homeButton, function(el) {
                        el.preventDefault();

                        document.location.href = baseUrl + '/';
                        return false;
                    });

                    vanilla.onClick(newsletterButton, function(el) {
                        el.preventDefault();

                        $(newsletterForm).modal('show');
                        return false;
                    });
                });
            }
    );
</script>


{{> navbar }}

<div id="content">
    <div class="container">

        <div class="row">
            <div style="padding: 50px 0">
                <div class="col-md-5 col-centered text-center margin-bottom-20">
                    <div>
                        <h1><strong>Die eingegebene Adresse befindet sich ausserhalb Deutschlands</strong></h1>
                        Zur Zeit unterstützen wir nur Adressen in Deutschland. In naher Zukunft werden aber auch Österreich und die Schweiz verfügbar sein. Über unseren Newsletter erfährst du wann es soweit ist.
                    </div>
                </div>

                <div class="col-xs-5 col-md-3 col-lg-2 col-centered">
                    <button class="btn btn-default btn-justified" id="gotoHome">Zur Startseite</button>
                </div>
                <div class="col-xs-5 col-md-3 col-lg-2 col-centered">
                    <button class="btn btn-default btn-justified margin-top-15" id="openNewsletterModal">Newsletter</button>
                </div>


            </div>
        </div>

    </div>
</div>

