<script>
    require(
            [
                /* Stylesheets */
                'css!bootstrapcss',
                'css!fontawesomecss',

                /* Scripts */
                'jquery',
                'bootstrap',

                /* Custom Stylesheet */
                'css!defaultcss'
            ], function(bootstrapCss, fontawesomeCss, jquery, bootstrap) {


            }
    );
</script>

{{> navbar }}

<div id="content">
    <div class="container">

        <div class="row">
            <div style="padding: 50px 0">
            <div class="col-md-5 col-centered text-center margin-bottom-20">
                <div>
                    <h1><strong>{{{message}}}</strong></h1>
                    Keine Lust auf E-Mails? Alle News und Informationen sind auch über Facebook & Co. verfügbar!
                </div>
            </div>

            <div class="col-xs-6 col-md-3 col-lg-2 col-centered">
                <button class="social-btn social-fb"><span class="fa fa-facebook-square social-icon"></span><span class="social-text t3">Facebook</span></button>
                <button class="social-btn social-gplus"><span class="fa fa-google-plus social-icon"></span><span class="social-text t3">Google+</span></button>
                <button class="social-btn social-twitter"><span class="fa fa-twitter social-icon"></span><span class="social-text t3">Twitter</span></button>
                <!--<button class="social-btn social-linkedin"><span class="fa fa-linkedin social-icon"></span><span class="social-text">LinkedIn</span></button>-->
            </div>
            </div>
        </div>

    </div>
</div>

