<script>
    require(
            [
                /* Stylesheets */
                'css!bootstrapcss',
                'css!fontawesomecss',

                /* Scripts */
                'jquery',
                'bootstrap',
                'geo',
                'feedback',
                'smoothscroll',
                'expose',
                'rotator',

                // modules
                'module.footer-newsletter',

                /* Custom Stylesheet */
                'css!defaultcss'

            ], function(bootstrapCss, fontawesomeCss, jquery, bootstrap, geo, feedback, smoothScroll, expose, rotator,
                footerNewsletter,
                defaultCss) {

                var baseUrl = '{{{baseUrl}}}';
                var showFeedback = '{{showFeedback}}';
                var showNewsletter = '{{showNewsletter}}';


                $(document).ready(function() {
                    footerNewsletter.init({
                        baseUrl: baseUrl
                    });

                    $('.fb-form').feedback(baseUrl + '/api/social/feedback');



                    if(showFeedback) {
                        setTimeout( function() {
                            $.smoothScroll({
                                scrollTarget: '#footer',
                                afterScroll: function() {
                                    $('.expose').expose();
                                }
                            });
                        }, 500);
                    }

                    if(showNewsletter) {
                        footerNewsletter.show();
                    }

                    $('#welcome-address').autocomplete();

                    $('.cg-form').checkGeodata(
                        function OnSuccess(address) {
                            document.location.href = baseUrl + '/check/' + encodeURI(address);
                        }, function OnError(address) {
                            // TODO: alert popup oder so hinzufügen
                            alert('Addresse ist ungültig');
                        });
                });
            });

</script>


    <!-- header start -->
    <div class="fullrow" id="welcome-image">

        <div class="container" >

            <div class="row" >
                <div class="col-md-12" >

                    <div class="row">
                        <div class="col-md-12" id="welcome-title">
                            <h1><strong>netz</strong>check.org</h1>
                            <span>Finde den besten Internetanschluss<br>in deiner Umgebung</span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12" id="welcome-search-container">
                            <form class="cg-form">
                                <div id="welcome-search" class="input-group">
                                    <input id="welcome-address" class="form-control cg-address" type="text" placeholder="Adresse eingeben ...">

                                    <span class="input-group-btn">
                                        <input type="submit" id="welcome-submit" class="btn btn-blue" value="Suchen">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- header end -->


    <div class="fullrow blue-row">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="welcome-tile">
                        <h2>Ortsabhängig</h2>
                        <p>Herkömmliche Verfügbarkeitschecks verraten nichts über die tatsächliche Leitungsqualität vor Ort. Wir bieten eine Plattform mit der Sie aufgrund Erfahrungen anderer den passenden Provider für eine Umgebung finden können.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="welcome-tile">
                        <h2>DSL, LTE/UMTS oder WLAN</h2>
                        <p>Ob Stadt oder Land. Je nach Gebiet sind verschiedene Techniken empfehlenswert. Finden Sie vor Abschluss eines Vertrages die richtige Wahl um später böse Überraschungen zu vermeiden.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="welcome-tile">
                        <h2>Community</h2>
                        <p>Tauschen Sie sich mit anderen über Ihre Erfahrungen aus. In unserem Forum finden Sie eine Anlaufstelle für technische Fragen sowie Informationen zum Stand des Netzausbaues für ihre Umgebung.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12">



                <div class="row">
                    <div class="col-md-12 welcome-feature">
                        <div class="feature-icon"><div><i class="fa fa-star-half-o fa-4x"></i></div></div>
                        <div>
                            <h2>Intelligentes Bewertungssystem</h2>
                            Jede Bewertung wird anhand vorgegebener Kriterien erstellt und fließt über einen ausgeklügelten Algorithmus in die Gesamtbewertung einer Umgebung ein.

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 welcome-feature">
                        <div class="feature-icon"><div><i class="fa fa-map-marker fa-4x"></i></div></div>
                        <div>
                            <h2>Auf einem Blick</h2>
                            Sehen Sie wann und wie weit von ihnen entfernt jemand seinen Internetanschluss bewertet und entscheiden Sie selbst ob Sie aufgrund dessen eine Providerwahl treffen wollen.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 welcome-feature">
                        <div class="feature-icon"><div><i class="fa fa-envelope fa-3x"></i></div></div>
                        <div>
                            <h2>Umgebungsalarm</h2>
                            Es gibt noch keine Bewertungen in Ihrer Nähe? Kein Problem! Melden Sie sich bei unserem Umgebungsalarm an und wir informieren Sie sofort wenn eine Bewertung online geht.
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>