<script>
    require(
            [
                /* Stylesheets */
                'css!bootstrapcss',
                'css!fontawesomecss',
                'css!slidebarscss',

                /* Scripts */
                'jquery',
                'bootstrap',
                'geo',

                /* Custom Stylesheet */
                'css!defaultcss'
            ], function(bootstrapCss, fontawesomeCss, slidebarsCss, jquery, bootstrap, geoJs) {

                var baseUrl = '{{{baseUrl}}}';
                var searchInput = document.getElementById('welcome-address');
                var searchForm = document.getElementsByClassName('cg-form');

                /* Enable autocomplete for search input */
                geo.geocomplete(searchInput);

                /* Verify input and redirect*/
                geo.checkGeodata(searchForm,

                        function OnSuccess(address) {
                            window.location.href = baseUrl + '/check/' + encodeURI(address);
                            return false;
                        },

                        function OnError() {
                            // TODO: alert popup oder so hinzufügen
                            alert('Adresse nicht vorhanden');
                            return false;
                        }
                );

                $(document).ready(function() {


                });
            });
</script>

<div id="welcome-content">
    <!-- header start -->
    <div class="fullrow">

        <div class="container" >

            <div class="row" >
                <div class="col-md-12" >

                    <div class="row">
                        <div class="col-md-12" id="welcome-title">
                            <h1><strong>netz</strong>check.org</h1>
                            <span>Finde den besten Internetanschluss<br>in deiner Umgebung</span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12" id="welcome-search-container">
                            <form class="cg-form">
                                <div id="welcome-search" class="input-group">
                                    <input id="welcome-address" class="form-control cg-address" type="text" placeholder="Adresse eingeben ...">

                                    <span class="input-group-btn">
                                        <input type="submit" id="welcome-submit" class="btn btn-blue" value="Suchen" ontouchend="this.onclick=touchfix">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- header end -->


    <div class="fullrow">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="welcome-tile">
                        <h2>1. Provider bewerten</h2>
                        <p>Bewerte deinen Internetanschluss und hilf anderen einen guten Provider zu finden</p>
                    </div>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-3">
                    <div class="welcome-tile ">
                        <h2>2. Provider suchen</h2>
                        <p>Umzug oder 2-Jahres-Vertrag vorbei? Such dir den besten Provider in deiner Straße aus</p>
                    </div>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-3">
                    <div class="welcome-tile">
                        <h2>3. Geld sparen</h2>
                        <p>Orientiere dich an Erfahrungswerten und nicht an Verfügbarkeits-Versprechen</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 welcome-feature">
                        <div class="feature-icon"><div><i class="fa fa-star-half-o fa-4x"></i></div></div>
                        <div>
                            <h2>Einfaches Bewertungssystem</h2>
                            Unser System analysiert alle Bewertungen in der Umgebung und zeigt die besten Ergebnisse in einer detaillierten Übersicht an
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 welcome-feature">
                        <div class="feature-icon"><div><i class="fa fa-map-marker fa-4x"></i></div></div>
                        <div>
                            <h2>Auf einem Blick</h2>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 welcome-feature">
                        <div class="feature-icon"><div><i class="fa fa-envelope fa-3x"></i></div></div>
                        <div>
                            <h2>Umgebungsalarm</h2>
                            Es gibt noch keine Bewertungen in der Nähe? Kein Problem! Unser Umgebungsalarm informiert dich sobald neue Bewertungen online gehen
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->