/* ---------------------------- Content ---------------------------- */

#content {
  margin-top: 10px;
  margin-bottom: 15px;

  background-color: $bg-color;
  flex-grow:1;
  @include flex();
}

.tile {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid $border-color;
}

.tile-body {
  background-color: $tile-color;
  padding: 15px;
}

#map-canvas {
  border: 1px solid $border-color;
  width:100%;
  height:320px;
}

/* ------- General Gauge Panels ------- */

.well {
  background-color: #fff;
  padding: 10px;
  margin: 0;
  text-align: center;
  border: none;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  @include border-radius(0);
}

@media(max-width:767px) {
  .well {
    background-color: $bg-color;
    margin-bottom: 20px;
  }

  .last-well {
    margin-bottom: 0;
  }
}

/* ------- Provider Details Gauge Panels ------- */

.rating-tupel {
  display: table;
  width: 100%;
  min-height: 109px;
  margin-bottom: 15px;
}

.rt-side {
  display: table-cell;
  background-color: $panel-color-dark;
  width: 120px;
  text-align: center;
  vertical-align: middle;

}

.rt-gage {
  width: 120px;
  height: 96px;
  margin-top:-10px;
}

.rt-content {
  display: table-cell;
  background-color: $panel-color-light;
  padding: 10px;
  font-size: 14px;

  h4 {
    font-size: 20px;
  }
}

@media(max-width:340px) {
  .rt-content h4 {
    font-size: 16px;
  }

}

/* ------- Social interaction for devices < 992 or 768 ------- */

#content-social {
  display: none;
}

@media(max-width: 991px) {
  #content-social {
    display: block;
  }
}

@media(max-width:767px) {
  #content-social {
    .col-sm-4 {
      margin-bottom: 20px;
    }

    .col-sm-4:last-child {
      margin-bottom: 0;
    }
  }
}


/* ------- Company Image ------- */

#image-container {
  height: 209px;
  max-height: 209px;
  background-color: #f8f8f8;
  border: 1px solid #ececec;
  overflow: hidden;

  @include display-flex();
  @include flex-justify();
  @include align-items(center);

}

#company-logo {
  margin: auto;
  width: auto;
  max-height: 100%;
}




/* ------- Rating Tiles ------- */

.rating-tile {
  display: block;

  margin-bottom: 20px;
  border: none;

  &:last-child {
    margin-bottom: 0;
  }

  /* -- White Corner -- */
  :before {
    border-right-color: #fff;
    border-top-color: $panel-color-light;
  }
}

.rt-header {
  padding: 0;
  background-color: $primary-color;
  color: #fff;
}

.rating-tile-info {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;



  @include display-flex();
  @include flex-wrap();


  li {
    padding: 5px 10px;
    text-align: center;
    border-right: 1px solid $panel-color-light;
    border-top: 1px solid $panel-color-light;
    vertical-align: middle;
    @include flex(1 0 auto);


    h3 {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      padding: 0;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      margin: 0;
    }
  }

  .rti-last {
    text-align:left;
    border-top: 1px solid $panel-color-light;

    /*min-width: 60%;*/
    @include flex(1 0 50%);


    p {
      margin-top: 4px;
      font-size: 14px;
      font-weight: 500;
    }

    .big {
      margin-top: 0;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .centered {
    text-align:center;
  }

  .even {
    @include flex(1 0 auto);
  }

}

@media(max-width:650px) {
  .rating-tile-info .rti-last {
      text-align: center;
    }
}

.rt-widget, .rt-body {
  padding: 15px;
  margin-right: 1px;
  background-color: $rating-tile-color-light;
}

.rt-body {
  p {
    padding: 15px;
    background-color: $rating-tile-color-dark;
  }
}

.list-criteria {
  list-style: none;
  margin: 0;

  li {
    padding: 9px 0;

    .rating-display-container {
      float: right;
      margin-top: -2px;
    }
  }
}



/* --- map marker --- */

.mapMarker {
  color: #fff;
  font-family: "Helevtica", "Arial", sans-serif;
  background-color: $primary-color;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  white-space: nowrap;
  border-radius: 3px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}