/* ---------------------------- Colors ---------------------------- */

$blue: #22beef;
$grey: #e8e8e8;
$light-grey: #f6f6f6;
$strong-grey: #e1e1e1;


$primary-color: $blue;
$secondary-color: $grey;
$bg-color: $light-grey;
$border-color: $strong-grey;
$tile-color: #fff;

$panel-color-dark: #ececec;
$panel-color-light: #f8f8f8;

$rating-tile-color-light: #f0f0f0;
$rating-tile-color-dark: #ebeae9;

$font-primary: #000;
$font-navbar: #4d4d4d;

