/* ---------------------------- Defaults ---------------------------- */

.noborder {
  border: none !important;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.padding-left-4 {
  padding-left: 4px;
}

.padding-right-4 {
  padding-right: 4px;
}

.invisible {
  display: none;
}