<!-- MAKE A RATING -->
<section class="tile">
    <div class="tile-body">
        <h2><strong>Hilf</strong> Mit</h2>
        <p>Bewerte deine Internetleitung und helfe Anderen die richtige Wahl zu treffen</p>
        <button class="btn btn-default btn-justified write-rating">Bewertung schreiben</button>
    </div>
</section>


<!-- ALARM / NEWSLETTER -->
<section class="tile">
    <div class="tile-body">
        <h2><strong>Alarm</strong> & Newsletter</h2>

        <p>Es gibt noch keine Bewertungen in der Nähe? Kein Problem! Unser Umgebungsalarm informiert dich sobald neue Bewertungen online sind</p>

        <form id="newsletter-form" role="form">
            <div class="input-group input-group-md">
                <input id="newsletter-email" type="email" class="form-control" placeholder="E-Mail">
                <span class="input-group-btn"><button type="submit" id="newsletter-submit" class="btn btn-blue">Eintragen</button></span>
            </div>
        </form>

        <div class="checkbox-group">
            <input type="checkbox" checked="checked" value="1" id="nlo-alarm">
            <label for="nlo-alarm">Alarm</label>
            <input type="checkbox" checked="checked" value="1" id="nlo-newsletter" class="margin-left-20">
            <label for="nlo-newsletter">Newsletter</label>
        </div>
    </div>
</section>


<!-- SOCIAL BUTTONS -->
<section class="tile">
    <div class="tile-body">
        <h2><strong>Empfehle</strong> Uns Weiter</h2>

        <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 col-lg-6"><button class="social-btn social-fb"><span class="fa fa-facebook-square social-icon"></span><span class="social-text t3">Facebook</span></button></div>
                <div class="col-md-6 col-lg-6"><button class="social-btn social-gplus"><span class="fa fa-google-plus social-icon"></span><span class="social-text t3">Google+</span></button></div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6"><button class="social-btn social-twitter"><span class="fa fa-twitter social-icon"></span><span class="social-text t3">Twitter</span></button></div>
                <!--<div class="col-md-6 col-lg-6"><button class="social-btn social-linkedin"><span class="fa fa-linkedin social-icon"></span><span class="social-text">LinkedIn</span></button></div>-->
                <div class="col-md-6 col-lg-6"><button class="social-btn social-link"><span class="fa fa-link social-icon"></span><span class="social-text t3">Direktlink</span></button></div>
            </div>

            <!--
            <div class="row">
                <div class="col-md-6 col-lg-6"><button class="social-btn social-digg"><span class="fa fa-digg social-icon"></span><span class="social-text">Digg</span></button></div>
                <div class="col-md-6 col-lg-6"><button class="social-btn social-xing"><span class="fa fa-xing social-icon"></span><span class="social-text">Xing</span></button></div>
            </div>
            -->

            <div class="row">

                <div class="col-md-6 col-lg-6"><button class="social-btn social-email"><span class="fa fa-envelope-o social-icon"></span><span class="social-text t3">E-Mail</span></button></div>
                <!--<div class="col-md-6 col-lg-6"><button class="social-btn social-email"><span class="fa fa-envelope-o social-icon"></span><span class="social-text">E-Mail</span></button></div>-->
            </div>
        </div>
        </div>
    </div>
</section>

