<div class="invisible" id="tooltip-rating">
    <div class="tooltip-menu">
    <h5>Was steht in einer guten Bewertung?</h5>
    <ul class="tooltip-rating-list">
       <li>* Pro und Contra Stickpunkte</li>
       <li>* Welche Probleme sind aufgetreten?</li>
       <li>* Warum habe ich so bewertet? (Kriterien)</li>
       </ul>
    </div>
</div>


<div class="invisible" id="tooltip-speed">
    <div class="tooltip-menu">
        <h5>Wieviel Prozent der bestellten Geschwindigkeit errreichen Sie?</h5>
        <ul class="tooltip-rating-list">
            <li><strong>1 Stern:</strong> 0 bis 40%</li>
            <li><strong>2 Sterne:</strong> 40 bis 55%</li>
            <li><strong>3 Sterne:</strong> 55 bis 70%</li>
            <li><strong>4 Sterne:</strong> 70 bis 85%</li>
            <li><strong>5 Sterne:</strong> 85 bis 100%</li>
        </ul>
    </div>
</div>


<div class="invisible" id="tooltip-availability">
    <div class="tooltip-menu">
        <h5>Wie oft treten Verbindungsprobleme auf?</h5>
        <ul class="tooltip-rating-list">
            <li><strong>1 Stern:</strong> Ständig</li>
            <li><strong>2 Sterne:</strong> Häufig</li>
            <li><strong>3 Sterne:</strong> Gelegentlich</li>
            <li><strong>4 Sterne:</strong> Selten</li>
            <li><strong>5 Sterne:</strong> Nie</li>
        </ul>
    </div>
</div>


<div class="invisible" id="tooltip-service">
    <div class="tooltip-menu">
    <h5>Wie würden Sie den Service benoten?</h5>
    <ul class="tooltip-rating-list">
        <li><strong>1 Stern:</strong> Schlecht</li>
        <li><strong>2 Sterne:</strong> Ausreichend</li>
        <li><strong>3 Sterne:</strong> Befriedigend</li>
        <li><strong>4 Sterne:</strong> Gut</li>
        <li><strong>5 Sterne:</strong> Sehr gut</li>
    </ul>
    </div>
</div>


<div class="invisible" id="tooltip-speechquality">
    <div class="tooltip-menu">
    <h5>Wie oft treten Unterbrechungen bei Telefonaten auf?</h5>
    <ul class="tooltip-rating-list">
        <li><strong>1 Stern:</strong> Ständig</li>
        <li><strong>2 Sterne:</strong> Häufig</li>
        <li><strong>3 Sterne:</strong> Gelegentlich</li>
        <li><strong>4 Sterne:</strong> Selten</li>
        <li><strong>5 Sterne:</strong> Nie</li>
        </ul>
    </div>
</div>


<div class="invisible" id="tooltip-streaming">
    <div class="tooltip-menu">
    <h5>Wie oft treten Unterbrechungen beim Videostreaming auf?</h5>
    <ul class="tooltip-rating-list">
        <li><strong>1 Stern:</strong> Ständig</li>
        <li><strong>2 Sterne:</strong> Häufig</li>
        <li><strong>3 Sterne:</strong> Gelegentlich</li>
        <li><strong>4 Sterne:</strong> Selten</li>
        <li><strong>5 Sterne:</strong> Nur Abends</li>
        </ul>
    </div>
</div>


<div class="invisible" id="tooltip-gaming">
    <div class="tooltip-menu">
    <h5>Welchen durchschnittlichen Ping erreichen Sie bei Online-Spielen?</h5>
    <ul class="tooltip-rating-list">
        <li><strong>1 Stern:</strong> Über 200</li>
        <li><strong>2 Sterne:</strong> 120 bis 200ms</li>
        <li><strong>3 Sterne:</strong> 80 bis 120ms</li>
        <li><strong>4 Sterne:</strong> 50 bis 80ms</li>
        <li><strong>5 Sterne:</strong> Bis 50ms</li>
        </ul>
    </div>
</div>
