<section class="tile" id="content-social">
    <div class="tile-body">
        <div class="row">

            <div class="col-sm-4">
                <h2><strong>Hilf</strong> mit</h2>
                <p>Schon mal Probleme mit der Internetleitung gehabt? Schreibe eine Bewertung für deine Umgebung und helfe anderen frühzeitig den richtigen Provider zu finden.</p>
                <button class="btn btn-default btn-justified write-rating">Bewertung schreiben</button>
            </div>

            <div class="col-sm-4">
                <h2><strong>Alarm</strong> & Newsletter</h2>
                <p>Für deine Umgebung gibt es noch keine Bewertungen? Melde dich bei unserem Bewertungsalarm an und wir benachrichtigen dich sobald welche online sind.</p>
                <button id="mni-content-submit" class="btn btn-default btn-justified">Abonnieren</button>
            </div>

            <div class="col-sm-4">
                <h2><strong>Sags</strong> weiter</h2>

                <button class="social-btn social-fb simple"><span class="fa fa-facebook-square social-icon"></span></button>
                <button class="social-btn social-gplus simple"><span class="fa fa-google-plus social-icon"></span></button>
                <button class="social-btn social-twitter simple"><span class="fa fa-twitter social-icon"></span></button>
                <button class="social-btn social-linkedin simple"><span class="fa fa-linkedin social-icon"></span></button>
                <!--
                <button class="social-btn social-digg simple"><span class="fa fa-digg social-icon"></span></button>
                <button class="social-btn social-xing simple"><span class="fa fa-xing social-icon"></span></button>
                -->
                <button class="social-btn social-link simple"><span class="fa fa-link social-icon"></span></button>
                <button class="social-btn social-email simple"><span class="fa fa-envelope-o social-icon"></span></button>
            </div>

        </div>
    </div>
</section>