<!-- DIRECT LINK -->
<div class="modal fade" id="social-modal-link" tabindex="-1" role="dialog" aria-labelledby="social-modal-link" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title thin" id="modalConfirmLabel">Direktlink</h3>
            </div>
            <div class="modal-body text-center">

                <div class="margin-bottom-40">
                    <img src="../themes/default/images/link-110px.png">
                </div>


                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <textarea class="form-control margin-bottom-20" rows="3" id="social-link-text"></textarea>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <button  class="social-btn link"><span class="fa fa-copy social-icon icon-small"></span><span class="social-text">Link kopieren</span></button>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Schließen</button>
            </div>
        </div>
    </div>
</div>


<!-- EMAIL -->
<div class="modal fade" id="social-modal-email" tabindex="-1" role="dialog" aria-labelledby="social-modal-email" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title thin" id="modalConfirmLabel">Direktlink</h3>
            </div>
            <div class="modal-body text-center">

                <div class="row">
                    <div class="margin-bottom-40">
                        <img src="../themes/default/images/email-110px.png">
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-xs-10 col-sm-8 col-md-8 text-center">
                        <p>Geben Sie die E-Mail-Adresse des Empfängers ein und wir verschicken die URL dieser Seite.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-xs-10 col-sm-8 col-md-8 text-center">
                        <ul id="sme-messages" class="modal-messages" style="display: none;">
                            <li id="sme-formaterror">Trage bitte eine gültige E-Mail Adresse ein</li>
                            <li id="sme-connectionerror">Bei der Übertragung ist ein Fehler aufgetaucht. Versuchen Sie es später noch einmal.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-10 col-sm-8 col-md-6 text-center margin-top-15 margin-bottom-20">
                        <input id="sme-from" type="email" class="form-control" placeholder="Ihr Name (optional)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-10 col-sm-8 col-md-6 text-center margin-bottom-20">
                        <input id="sme-email" type="email" class="form-control" placeholder="E-Mail">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-10 col-sm-8 col-md-6 text-center margin-bottom-20">
                        <button id="sme-submit" type="button" class="btn btn-blue mni-submit">
                            <div class="rotator">
                                <span class="spinner"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                <span class="done"><i class="fa fa-check"></i></span>
                                <span class="fail"><i class="fa fa-close"></i></span>
                            </div>Senden</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Schließen</button>
            </div>
        </div>
    </div>
</div>


<!-- EMAIL - SUCCESS-->
<div class="modal fade" id="social-modal-email-success" tabindex="-1" role="dialog" aria-labelledby="social-modal-link-success" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title thin" id="modalConfirmLabel">E-Mail versendet</h3>
            </div>
            <div class="modal-body">
                <p>Die E-Mail wurde erfolgreich versendet</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Schließen</button>
            </div>
        </div>
    </div>
</div>