<!-- MAP RATINGS -->
<div class="modal fade" id="modalMapRatings" tabindex="-1" role="dialog" aria-labelledby="modalMapRatings" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title thin" id="modalMapRatingsTitle"></h3>
            </div>
            <div class="modal-body" id="modalMapRatingsBody"></div>
            <div class="modal-footer nomargin">
                <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Schließen</button>
            </div>
        </div>
    </div>
</div>