<script>
    require(
        ['css!slidebarscss', 'slidebars', 'geo']
    , function(geoJs) {

        var baseUrl = '{{{baseUrl}}}';
        var searchInput = document.getElementById('search-input');
        var searchForm = document.getElementsByClassName('cg-form');


        $(document).ready(function() {

            /* Enable autocomplete for search input */
            geo.geocomplete(searchInput);

            /* Verify input and redirect*/
            geo.checkGeodata(searchForm,

                    function OnSuccess(address) {
                        document.location.href = baseUrl + '/check/' + encodeURI(address);
                    },

                    function OnError() {
                        // TODO: alert popup oder so hinzufügen
                        alert('Adresse nicht vorhanden');
                    }
            );

            $.slidebars({ scrollLock: true });
        });
    });
</script>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-collapse">

            <div id="logo">
                <a id="logo-link" href="{{baseUrl}}/"><strong>netz</strong>check.org</a>
                <span id="logo-edge"></span>
            </div>

            <div class="action">
                <button class="btn btn-default menu-btn sb-toggle-right" ontouchend="this.onclick=touchfix"><i class="fa fa-bars"></i></button>
            </div>

            <div class="search">
                <form class="cg-form">
                    <div class="input-group">
                        <input id="search-input" class="form-control cg-address" type="text" placeholder="Adresse suchen ...">
                        <span class="input-group-btn">
                            <button type="submit" id="search-submit" class="btn"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                </form>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="{{baseUrl}}/">Startseite</a></li>
                <li><a href="{{baseUrl}}/forum" target="_blank">Forum</a></li>
            </ul>

        </div>
    </div>
</nav>